services:
  migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    container_name: plansey-migrate
    env_file: .env
    command: sh -c "node_modules/.bin/prisma migrate deploy"
    networks:
      - supabase_default
    profiles:
      - migrate

  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: plansey-next
    restart: unless-stopped
    env_file: .env
    environment:
      - NODE_ENV=production
    networks:
      - supabase_default
      - coolify
    labels:
      - traefik.enable=true
      - "traefik.http.routers.plansey-next.rule=Host(`new.plansey.de`)"
      - traefik.http.routers.plansey-next.entrypoints=https
      - traefik.http.routers.plansey-next.tls=true
      - traefik.http.routers.plansey-next.tls.certresolver=letsencrypt
      - traefik.http.services.plansey-next.loadbalancer.server.port=3000
      - traefik.docker.network=coolify

networks:
  supabase_default:
    external: true
  coolify:
    external: true
